[Desktop Entry]
Encoding=UTF-8
Name=How to play with Linux (Wine-guide)
Type=Link
URL=https://github.com/Mantas-2155X/illusion-wine-guide
Icon=text-html
